.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5;
  font-family: 'Segoe UI', sans-serif;
}

.login-container {
  display: flex;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  width: 900px;
  max-width: 95%;
  min-height: 550px;
}

/* Columna de la Imagen */
.login-image-section {
  flex: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.204), rgba(255, 255, 255, 0.292)), url('../../assets/Logo_Caritas.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: rgb(0, 0, 0);
  padding: 40px;
  text-align: center;
}



/* Columna del Formulario */
.login-form-section {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-header h1 {
  font-size: 2rem;
  color: #1e293b;
  margin-bottom: 10px;
}

.field {
  margin-bottom: 20px;
}

.field label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #64748b;
}

.field input {
  width: 100%;
  padding: 12px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 14px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}